.chart {
  height: 80%;
}

.legend-ctn {
  width: 100%;
  margin: 0 auto;
  margin-top: 20px;
  text-align: center;
  display: inline-block;

  .legend-key {
    width: 20%;
    padding-right: 20px;
  }


}
.legend-logo {
  width: 20px;
  height: 20px;
  border-radius: 20px;
  display: inline-block;

}
.pass {
  background-color: green;
}

.error {
  background-color: orange;
}

.fail {
  background-color: red;
}